




 /* Wrapper for the whole section */
.search-wrapper {
  position: relative;
  text-align: center;
}

/* Background Section */
/* .hero-section {
  background: url('https://source.unsplash.com/1600x900/?airplane,travel') no-repeat center center/cover;
  color: rgb(10, 10, 10);
  padding: 80px 20px;
} */

.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  color: white;
  /* text-align: center; */
  padding: 20px;
}


.hero-section h1{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.hero-section h5 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}

/* Search Box */
.search-container {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: -40px auto 20px; /* Move up to overlay the background */
  position: relative;
}

/* Tabs */
.search-header {
  display: flex;
  justify-content:space-between;
  width: 20%;
  margin-bottom: 3px;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: none;
  width: 20%;
  margin-bottom: 10px;
  margin-left: auto;
}

.info select{
  border: none;
  background: none;
  text-align: right;
}

.tab {
  background: none;
  border: none;
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
  color: #555;
  justify-content:space-between;
}

.tab.active {
  font-weight: bold;
  border-bottom: 2px solid blue;
}

/* Fields */
.search-fields{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  /* width: ; */
  justify-content: space-between;
  padding: 12px 20px
}

.search-fields input{ 
/* .search-fields select */

  flex: 1;
  border: none;
  outline: none;
  padding: 9px;
  border-radius: 8px;
  background: #f5f5f5;
  font-size: 14px;
  text-align: center;
}

/* Search Button */
.search-btn {
  background: #2d69f0;
  color: white;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background: #1a4fcf;
}

.suggestions {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  z-index: 100;
}

.suggestions p {
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
}

.suggestions p:hover {
  background-color: #f0f0f0;
}

.bottom-content {
  display: block;
}

.suggestions + .bottom-content {
  display: none; /* Hide bottom content when suggestions are visible */
}

